Assets/Dailoguetest/Assets/Art.meta
Assets/GiraafeController.cs.meta
Assets/Habitat/Animations&Controller/Giraafe.meta
Assets/Habitat/Animations&Controller/Giraafe/GiraafeTalk.anim.meta
Assets/Habitat/Animations&Controller/Giraafe/Giraafeidle.anim.meta
Assets/Habitat/Animations&Controller/Giraafe/Giraafeidle2.anim.meta
Assets/Habitat/Animations&Controller/Giraafe/Giraafeidle3.anim.meta
Assets/Habitat/Animations&Controller/Giraafe/giraffe_idle_01-0000.controller.meta
Assets/Habitat/Animations&Controller/Hare.meta
Assets/Habitat/Animations&Controller/Hare/HareConversation.anim.meta
Assets/Habitat/Animations&Controller/Hare/HareIdle1.anim.meta
Assets/Habitat/Animations&Controller/Hare/HareIdle2.anim.meta
Assets/Habitat/Animations&Controller/Hare/HareRun.anim.meta
Assets/Habitat/Animations&Controller/Hare/HareSleeping.anim.meta
Assets/Habitat/Animations&Controller/Hare/hare_idle_01-0000.controller.meta
Assets/Habitat/Animations&Controller/Hare/hare_run-0000.controller.meta
Assets/Habitat/Animations&Controller/Hare/hare_sleeping-0000.controller.meta
Assets/Habitat/Animations&Controller/Tortoise.meta
Assets/Habitat/Animations&Controller/Tortoise/TortoiseIdle.anim.meta
Assets/Habitat/Animations&Controller/Tortoise/TortoiseIdle2.anim.meta
Assets/Habitat/Animations&Controller/Tortoise/TortoiseTalk.anim.meta
Assets/Habitat/Animations&Controller/Tortoise/TortoiseWalk.anim.meta
Assets/Habitat/Animations&Controller/Tortoise/tortoise_conversations-0000.controller.meta
Assets/Habitat/Animations&Controller/haze.controller.meta
Assets/Habitat/Animations&Controller/hazeanimjunglecourt.anim.meta
Assets/Habitat/Art/JungleCourt.meta
Assets/Habitat/Art/JungleCourt/background.png.meta
Assets/Habitat/Art/JungleCourt/background_tile.png.meta
Assets/Habitat/Art/JungleCourt/background_trees.png.meta
Assets/Habitat/Art/JungleCourt/bushes.png.meta
Assets/Habitat/Art/JungleCourt/ground.png.meta
Assets/Habitat/Art/JungleCourt/haze.png.meta
Assets/Habitat/Art/JungleCourt/podium.png.meta
Assets/Habitat/Art/JungleCourt/rock_hare.png.meta
Assets/Habitat/Art/JungleCourt/rock_tortoise.png.meta
Assets/Habitat/Art/Sprites/Giraafe.meta
Assets/Habitat/Art/Sprites/Giraafe/giraffe_conversation_01.png.meta
Assets/Habitat/Art/Sprites/Giraafe/giraffe_conversation_01.tpsheet.meta
Assets/Habitat/Art/Sprites/Giraafe/giraffe_conversation_02.png.meta
Assets/Habitat/Art/Sprites/Giraafe/giraffe_conversation_02.tpsheet.meta
Assets/Habitat/Art/Sprites/Giraafe/giraffe_idle_01.png.meta
Assets/Habitat/Art/Sprites/Giraafe/giraffe_idle_01.tpsheet.meta
Assets/Habitat/Art/Sprites/Giraafe/giraffe_idle_02.png.meta
Assets/Habitat/Art/Sprites/Giraafe/giraffe_idle_02.tpsheet.meta
Assets/Habitat/Art/Sprites/Giraafe/giraffe_idle_03.png.meta
Assets/Habitat/Art/Sprites/Giraafe/giraffe_idle_03.tpsheet.meta
Assets/Habitat/Art/Sprites/Hare.meta
Assets/Habitat/Art/Sprites/Hare/hare_conversation_01.png.meta
Assets/Habitat/Art/Sprites/Hare/hare_conversation_01.tpsheet.meta
Assets/Habitat/Art/Sprites/Hare/hare_idle_01.png.meta
Assets/Habitat/Art/Sprites/Hare/hare_idle_01.tpsheet.meta
Assets/Habitat/Art/Sprites/Hare/hare_idle_02.png.meta
Assets/Habitat/Art/Sprites/Hare/hare_idle_02.tpsheet.meta
Assets/Habitat/Art/Sprites/Hare/hare_run.png.meta
Assets/Habitat/Art/Sprites/Hare/hare_run.tpsheet.meta
Assets/Habitat/Art/Sprites/Hare/hare_sleeping.png.meta
Assets/Habitat/Art/Sprites/Hare/hare_sleeping.tpsheet.meta
Assets/Habitat/Art/Sprites/Hare/hare_transition_run_to_idle.png.meta
Assets/Habitat/Art/Sprites/Hare/hare_transition_run_to_idle.tpsheet.meta
Assets/Habitat/Art/Sprites/Totrtoise.meta
Assets/Habitat/Art/Sprites/Totrtoise/tortoise_conversations.png.meta
Assets/Habitat/Art/Sprites/Totrtoise/tortoise_conversations.tpsheet.meta
Assets/Habitat/Art/Sprites/Totrtoise/tortoise_idle_01.png.meta
Assets/Habitat/Art/Sprites/Totrtoise/tortoise_idle_01.tpsheet.meta
Assets/Habitat/Art/Sprites/Totrtoise/tortoise_idle_02.png.meta
Assets/Habitat/Art/Sprites/Totrtoise/tortoise_idle_02.tpsheet.meta
Assets/Habitat/Art/Sprites/Totrtoise/tortoise_walk.png.meta
Assets/Habitat/Art/Sprites/Totrtoise/tortoise_walk.tpsheet.meta
Assets/Habitat/Art/UI/Decision UI/bubble_icon_elephant.png.meta
Assets/Habitat/Art/UI/Decision UI/bubble_icon_giraffe.png.meta
Assets/Habitat/Art/UI/Decision UI/bubble_icon_hare.png.meta
Assets/Habitat/Art/UI/Decision UI/bubble_icon_tortoise.png.meta
Assets/HareController.cs.meta
Assets/InfiniteRunner/Game assets/Thumbs.db.meta
Assets/InfiniteRunner/Prefabs/LandPrefabs/HareRun.prefab.meta
Assets/InfiniteRunner/Prefabs/LandPrefabs/HareSleeping.prefab.meta
Assets/InfiniteRunner/sprites/Thumbs.db.meta
Assets/Resources/QuestItems/Empty.prefab.meta
Assets/TortoiseController.cs.meta
Assets/_Scenes/JungleCourt.unity.meta
Assets/_Scripts/GameBase/JungleCourtController.cs.meta
Assets/_Scripts/GameBase/TigerCaveController.cs.meta
Assets/TigerSceneController.cs.meta
