* {
	-webkit-touch-callout: none;	/* iOS Safari */
    -webkit-user-select: none;		/* Safari */
    -khtml-user-select: none;		/* Konqueror HTML */
    -moz-user-select: none;			/* Firefox */
    -ms-user-select: none;			/* Internet Explorer/Edge */
    user-select: none;				/* Non-prefixed version, currently supported by Chrome and Opera */
	-o-user-select: none;
}

html { 
  background: url(bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.logo {
	position: absolute;
	margin-top: 30px;
	margin-left: 20px;
	width: 300px;
}

.GameCenter {
	bottom: 0; left: 0; top: 0; right: 0;
    margin: auto;
    position: absolute;
}
.store {
	position:absolute;
	bottom: 15px;
	margin-left: 20px;
}
.store_ios {
     width: 131px;
	 height: 39px;
	 border: 0px;
} 
.store_android  {
     width: 131px;
	 height: 39px;
	 border: 0px;
} 